<div class="d-flex flex-column space-between-24 align-items-center vw-100 vh-100 p-16 pt-48">
  <img class="logo" src="assets/logo.png" alt="logo">

  <div class="d-flex flex-column space-between-8 align-items-center">
    <h1 class="header-text mb-0">Sign in to Mock Interview</h1>
    <div class="header-subtext text-muted">
      <span>Don't have an account?</span> &nbsp;
      <a routerLink="/register">Sign Up</a>
    </div>
  </div>

  <div class="content">

    <form class="d-flex flex-column align-items-stretch space-between-16" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="d-flex flex-column space-between-16">
        <input class="form-control" placeholder="Email" type="email" formControlName="email">

        <div *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty"
          class="required-message text-danger">
          Required Field!
        </div>
        <div class="password-wrapper">
          <input class="form-control" placeholder="Password" id="password" type="password" formControlName="password">
          <i class="fa fa-eye" *ngIf="!showPassword" aria-hidden="true" (click)="togglePassword()"></i>
          <i class="fa fa-eye-slash" *ngIf="showPassword" aria-hidden="true" (click)="togglePassword()"></i>
        </div>
        <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty"
          class="required-message text-danger">
          Required Field!
        </div>
        <small><a routerLink="/forgot-password">Forgot your password?</a></small>
      </div>

      <button class="btn btn-block mt-16 signIn" type="submit">Sign In</button>
      <div *ngIf="successMessage" class="register text-success">
        {{successMessage}}
      </div>
      <div *ngIf="errorMessage" class="register text-danger">
        {{errorMessage}}
      </div>
      <div class="d-flex flex-row align-items-center">
        <hr class="m-0 flex-fill">
        <span class="text-muted mx-8">or</span>
        <hr class="m-0 flex-fill">
      </div>

      <div class="d-flex flex-column space-between-8 align-items-center">
        <span class="header-text mb-0">Continue With</span>
        <div class="social-icons">
          <asl-google-signin-button type="icon" shape="circle"></asl-google-signin-button>
          <img src="assets/facebook-logo.png" class="fb-logo" (click)="signInWithFB()" alt="facebook icon">
        </div>
      </div>
    </form>
  </div>

  <ul class="d-flex justify-content-center list-inline">
    <li>
      <a class="text-decoration-none text-muted" rel="noopener noreferrer" target="_blank">Privacy Policy</a>
    </li>
    <li class="mx-4 text-muted">|</li>
    <li>
      <a class="text-decoration-none text-muted" rel="noopener noreferrer" target="_blank">Terms &amp; Conditions</a>
    </li>
  </ul>

</div>