.fa-eye,.fa-eye-slash{
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
}

.password-wrapper{
  position: relative;
}

.logo{
  height: 125px;
  width: 200px
}

.signUp{
  color: white;
  background-color: #1e3563;
}

a{
  color: #1e3563;
}

.social-icons{
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.fb-logo{
  height: 31px;
  width:31px;
  position: absolute;
  right: -40px;
}

asl-google-signin-button{
  position: absolute;
  right: 0px;
}