.login{
    padding:10px;
    text-align: center;
}

.fa-eye,.fa-eye-slash{
    position: absolute;
    bottom: 23px;
    right: 20px;
    cursor: pointer;
  }

#password{
    padding: 0 42px 0 38px;
  }

  .facebook > img {
    position: relative;
    left: 75px;
    top: 28px;
  }