<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form flex-sb flex-w">
          <span class="login100-form-title p-b-51"> Login </span>
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="text" name="username" placeholder="Username" formControlName="email">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty" class="required-message text-danger">
               Required Field!
           </div>
           <div *ngIf="loginForm.controls.email.errors?.emailError && !loginForm.controls.email.errors?.required && loginForm.controls.email.dirty" class="required-message text-danger">
            {{loginForm.controls.email.errors.emailError.message}}
           </div>
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="password" id="password" placeholder="Password" formControlName="password">
            <span class="focus-input100"></span>
            <i class="fa fa-eye" *ngIf="!showPassword" aria-hidden="true" (click)="togglePassword()"></i>
            <i class="fa fa-eye-slash" *ngIf="showPassword" aria-hidden="true" (click)="togglePassword()"></i>
          </div>
          <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty" class="required-message text-danger">
            Required Field!
        </div>
          <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1"> Remember me </label>
            </div>
            <div>
              <a routerLink="/forgot-password" class="txt1"> Forgot Password? </a>
            </div>
          </div>
          <div class="container-login100-form-btn m-t-17">
            <button type="submit" class="login100-form-btn"> Login </button>
          </div>
        </form>
        <div class="register">
            <a routerLink="/register"> Register </a>
        </div>
        <div *ngIf="successMessage" class="register text-success">
          {{successMessage}}
      </div>
      <div *ngIf="errorMessage" class="register text-danger">
        {{errorMessage}}
    </div>
      </div>
    </div>
  </div>
  <!-- <div id="dropDownSelect1"></div> -->