<div class="d-flex flex-column space-between-24 align-items-center vw-100 vh-100 p-16 pt-48">
  <img class="logo" src="assets/logo.png" alt="logo">

  <div class="d-flex flex-column space-between-8 align-items-center">
    <h1 class="header-text mb-0">Reset your password</h1>
    <div class="header-subtext text-muted">We'll email you a reset link</div>
  </div>

  <div class="content">

    <form class="d-flex flex-column align-items-stretch" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">

      <div class="form-group">
        <input class="form-control" name="email" placeholder="Email" type="email" formControlName="email">
      </div>
      <div *ngIf="forgotPasswordForm.controls.email.errors?.required && forgotPasswordForm.controls.email.dirty"
        class="required-message text-danger">
        Required Field!
      </div>
      <div
        *ngIf="forgotPasswordForm.controls.email.errors?.emailError && !forgotPasswordForm.controls.email.errors?.required && forgotPasswordForm.controls.email.dirty"
        class="required-message text-danger">
        {{forgotPasswordForm.controls.email.errors.emailError.message}}
      </div>
      <div class="d-flex justify-content-center">

      </div>

      <button class="btn btn-block forgot-password mt-16" type="submit">Request Password Reset</button>

    </form>


    <div class="d-flex justify-content-center mt-16">
      <span class="mr-4">Remember it?</span>
      <a class="btn btn-link" routerLink="/login">Sign In</a>
    </div>

  </div>


  <ul class="d-flex justify-content-center list-inline">
    <li>
      <a class="text-decoration-none text-muted" rel="noopener noreferrer" target="_blank">Privacy Policy</a>
    </li>
    <li class="mx-4 text-muted">|</li>
    <li>
      <a class="text-decoration-none text-muted" rel="noopener noreferrer" target="_blank">Terms &amp; Conditions</a>
    </li>
  </ul>

</div>